/* General */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap');

body {
    margin: 0 auto;
    font-family: 'raleway'; sans-serif;
}

span {
    padding: 10px 0;
}

/* Index page */

.title {
    text-align: center;
}

.winner_list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.winner {
    border: 1px solid #000;
    width: 350px;
    margin: 20px;
    text-align: center;
}

.category_title {
    font-weight: 600;
}

div.delete_edit {
    display: flex;
    justify-content: center;
}

input.delete_edit {
    margin: 10px 10px 0px 10px;
    background-color: #895C74;
    color: #FFF;
    width: 100px;
    height: 40px;
}

.add_winners {
    background-color: #895C74;
    height: 70px;
    width: 300px;
    text-transform: uppercase;
    color: #FFF;
    margin: 0px auto 50px auto;
}

button.add_winners a{
    color: #000;
    text-decoration: none;
}

/* Add winners page */

.add_db_entry {
    margin: 100px auto 50px auto;
    width: 300px;
    background-color: #895C74;
    border: 7px solid #000;
    color: #FFF;
    text-align: center;
    border-radius: 10px;
}

.add_db_entry label {
    display: block;
    margin-top: 20px;
    font-weight: 600;
    font-size: 1.1rem;
}

.add_db_entry input {
    height: 30px;
    width: 150px;
    border: 1px solid #000;
}

.entry_field {
    margin: 10px;
}


.entry_field.submit{
    border: 3px solid #FFF;
    background-color: #000;
    color: #FFF;
    height: 40px;
    width: 100px;
}

.return a{
    color: #FFF;
}
